@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
/*
font-family: 'Roboto', sans-serif;

*/
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
body {
	background-image: url(../img/wall/home_wall.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;	
	background-size: cover;
	min-width: 400px;
}
input[type="search"]::-webkit-search-cancel-button {
	display: none;
}
header {
	position: relative;
	margin-top: 100px;
	display: block;
	width: 100%;
}
body::-webkit-scrollbar {
  width: 8px;               /* width of the entire scrollbar */
}
body::-webkit-scrollbar-track {
  background: #303B44; 
}

body::-webkit-scrollbar-thumb {
  background-color: rgba(255,255,255, .6);
  border-radius: 2px;
}
.header {
	position: relative;
	display: block;
	text-align: center;
	margin: auto;
	width: 800px;
}
.header__h1 {
	font-family: 'Roboto', sans-serif;
	color: rgba(255, 255, 255, .9);
	margin-bottom: 25px;
	text-align: center;
	position: relative;
	font-size: 40px;
	cursor: pointer;
	display: block;
	display: inline-block;
	transition: 1s linear;
}
.header__h1:hover {
	color: rgb(255, 255, 255);
}
.header__form {
	background-color: rgba(255, 255, 255, .8);
	justify-content: center;
	align-items: center;
	border-radius: 25px;
	position: relative;
	text-align: center;
	display: flex;
	margin: auto;
	height: 50px;
	width: 70%;
	transition: 1s linear;
}
.header__form:hover {
	background-color: rgb(255, 255, 255);
}
.header__search {
	font-family: 'Roboto', sans-serif;
	background-color: transparent;
	font-variant: normal;
	position: relative;
	font-weight: 400;
	font-size: 17px;
	outline: none;
	border: none;
	height: 100%;
	width: 70%;
}
.header__button {
	display: inline-block;
	position: relative;
	margin-left: 5px;
	height: 40%;
	
}
main {
	position: relative;
	margin: 50px auto 100px;
	padding: 0 100px; 
	width: 100%;
}
.main {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	margin: -5px 0 0 -5px;
   overflow: hidden;
}
.group {
	margin: 5px 0 0 5px;
	flex-grow: 1;
	background-color: rgba(0, 0, 0, .6);
	border-radius: 20px;
	position: relative;
	padding: 18px;
	width: 40%;

}
.group__name {
	font-family: 'Roboto', sans-serif;
	color: rgba(255, 255, 255, .9);
	text-decoration: underline;
	position: relative;
	font-weight: 600;
	font-size: 23px;
	display: inline-block;
	cursor: pointer;
	transition: 3s linear;
}
.group__name:hover {
	color: rgb(255, 255, 255);
}
.group__block {
	align-items: center;
	position: relative;
	margin-top: 10px;
	display: flex;	
	width: 100%;
}
.block__img {
	display: inline-block;
	position: relative;
	height: 50px;
}
.box__text-box {
	display: inline-block;
	position: relative;
	margin-left: 5px;
}
.box__name > a {
	font-family: 'Roboto', sans-serif;
	color: rgb(245, 110, 28);
	text-decoration: none;
	position: relative;
	line-height: 15px;
	font-weight: 600;
	font-size: 18px;
	margin-top: 5px;
	transition: .3s linear;
}
.box__name > a:hover {
	color: rgb(249, 137, 88);
}
.box__descr {
	font-family: 'Roboto', sans-serif;
	color: rgba(255, 255, 255, .8);
	position: relative;
	font-weight: 300;
	font-size: 11px;
}
